.login {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form {
    padding: 0 10px;
    position: relative;
    max-width: 350px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logig__error-msg {
    color: red;
    position: absolute;
    top: -10px;
    margin: 0 auto;
}

.login__form input {

}

.login__input {
    margin-top: 10px;
}

.login_btns {
    margin-top: 30px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
