.drag-box {
    background: mediumseagreen;
    height: 300px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 0 auto; */
    z-index: 2000;
}

.upload-avatar__select-icon-btn {
margin-top: 20px;
}

.upload-avatar__select-icon-btn:hover {
    /*background: lightblue;*/
    color: #B5BEEA;
}

.upload-avatar__select-icon-btn:active {
    color: #3B7E96;
    /*color: #0000ff80;*/
    /*color: green;*/
}

.upload-avatar__input-bx {
    background: red;
    height: 200px;
    width: 200px;
}

.upload-avatar__input {
    visibility: hidden;
}

.upload-avatar__file-name {
    font-size: 1.4rem;
    position: absolute;
    top: 30px;
}

.upload-avatar__file-name--delete {
    color: red;
    position: absolute;
    right: -30px;
}

.upload-avatar__upload-btn {
    margin-top: 20px;
}
