.profile-menu {
    position: fixed;
    top: 10vh;
    right: 0;
    z-index: 100;
    max-width: 400px;
    width: 100%;
}

.profile-menu__navs {
    background: white;
}

.profile-menu__navs li {
    border-top: 1px solid lightblue;
    border-right: 1px solid lightblue;
    border-left: 1px solid lightblue;
    padding: 10px 10px;
}

.profile-menu__navs li:last-child {
    border-bottom: 1px solid lightblue;
}

.profile-menu__navs li:not(:first-child) {
    text-align: center;
}

.profile-menu__navs li:hover:not(:first-child) {
    background: lightblue;
}

.profile-menu__navs li:active:not(:first-child) {
    background: rgba(173, 216, 230, .5);
    color: rgb(12, 13, 74);
}

.profile-menu__nav:before,
.profile-menu__nav:after {
    content: '';
    clear: left;
    display: block;
}

.profile-menu__nav--img-wrapper {
    background: linear-gradient(to bottom, transparent 60%, black 40%);
    cursor: pointer;
    position: relative;
    float: left;
}

.profile-menu__nav--img-wrapper img {
    float: left;

    object-fit: cover;
    width: 96px;
    height: 96px;
}

.profile-menu__nav--img-wrapper:hover img {
    opacity: .3;
}

.profile-menu__nav--img-wrapper:hover .profile-menu__nav--camera {
    display: block;
}

.profile-menu__nav--camera {
    background: white;
    color: #963535;
    pointer-events: none;
    display: none;

    position: absolute;
    left: 50%;
    bottom: 13px;
    transform: translateX(-50%);
}

.profile-menu__nav--info {
    padding-left: 140px;
    padding-top: 10px;
}

.profile-menu__nav--profile {
    border: 1px solid lightblue;
    border-radius: 50px;
    color: black;
    display: block;
    padding: 10px 5px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.profile-menu__nav--profile:hover {
    background: lightblue;
}


.profile-menu__nav--profile:focus,
.profile-menu__nav--profile:active {
    background: rgba(173, 216, 230, .5);
    color: rgb(12, 13, 74);
}

@media only screen and (min-width: 425px) {
    .profile-menu {
        position: absolute;
        top: 45px;
        min-width: 400px;
    }
}

@media only screen and (min-width: 600px) {

    .profile-menu {
        position: absolute;
        top: 25px;
    }
}
