.circular-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

.loading {
    animation: rotation 1s infinite linear;
    border: 2px solid rgba(163, 165, 203, 0.4);
    border-radius: 50%;
    border-top-color: rgba(103, 109, 120, 0.9);
    height: 3em;
    width: 3em;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}
