.upload-avatar {
    background: lightblue;
    max-height: 400px;
    max-width: 400px;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.upload-avatar__close-icon {
    color: #58626f;

    position: absolute;
    top: 5px;
    right: 5px;
}

.upload-avatar__title {
    color: rgb(12, 13, 74);
    height: 10%;
    text-align: center;
    line-height: 3rem;
}

.upload-avatar__title span {
    display: inline-block;
    border-bottom: 1px solid;
    padding-top: 2px;
}

.upload-avatar__drag-and-drop {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    position: relative;
}

.upload-avatar__bg {
    opacity: .5;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-avatar__bg--title {
    font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
    .upload-avatar {
        max-height: 500px;
        max-width: 500px;
    }


    .upload-avatar__close-icon {
        top: -15px;
        right: -15px;
    }

    .upload-avatar__title {
        font-size: 2rem;
        line-height: 4rem;
    }
}
