.profile-settings {
    height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-settings__wrapper{
    min-height: 300px;
    max-width: 400px;
    width: 100%;

    border: 1px solid lightblue;
    border-radius: 20px;
    padding: 20px;

    position: relative;
}

.profile-settings__switch-frame {
    background: lightgray;

    border-radius: 45px;

    height: 35px;
    width: 55px;

    position: relative;
    margin-left: 20px;
}

.profile-settings__switch-knob {
    position: absolute;

    border-radius: 45px;
    height: 35px;
    width: 35px;
}

.profile-settings__active_en {
    background-image: url("http://localhost:8080/images/uk_flag.svg");
    left: 0;
}

.profile-settings__active_ua {
    background-image: url("http://localhost:8080/images/ua_flag.svg");
    right: 0;
}

.profile-settings__lang {
    display: flex;
    align-items: center;
}

.profile-settings__close-icon {
    position: absolute;
    top: -15px;
    right: -15px;
}
