.registration__body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.registration__frame {
    border: 1px solid lightblue;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

.registration__fields {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.registration__btn {
    margin-top: 20px;
}

.registration__close-icon {
    color: #58626f;

    position: absolute;
    top: 0;
    right: 0;
}

.registration__status-msg {

}

.registration__status-msg--success {
    color: green;
}

.registration__status-msg--failed {
    color: red;
}

@media only screen and (min-width: 600px) {
    .registration__close-icon {
        top: -15px;
        right: -15px;
    }
}

