.todo-item {
    cursor: pointer;
    padding: 5px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.todo-item:not(:last-child) {
    flex: 1;
}

.todo-item:hover {
    background: #e0eaff;
}

.todo-item__name {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

.todo-item__name--completed {
    text-decoration: line-through;
}

.todo-item__description {
    border-top: 1px solid black;
    text-align: left;
    padding: 15px 10px 5px;
    margin-top: 5px;
    width: 100%;
}

.todo-item__icon {
    color: rgba(55, 84, 84, .3);
    font-size: 1.5rem;
}

.todo-item__icon:hover {
    color: rgba(55, 84, 84, .7);
}

.todo-item__icon:active {
    color: rgba(0, 0, 255, .5);
}

.todo-item__icon--completed {
    color: lightblue;
}

.todo-item__icon--completed:hover {
    color: rgba(0, 0, 255, .3);
}

.todo-item__icon--completed:active {
    border-radius: 50%;
    color: rgba(0, 0, 255, .7);
}

.todo-item__icon--not-completed {
    background: rgba(195, 203, 203, .5);
    border: 3px solid rgb(195, 203, 203);
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.todo-item__icon--not-completed:hover {
    border-color: rgba(167, 175, 175, 1);
}

.todo-item__icon--not-completed:active {
    background: rgba(195, 203, 203, 1);
    border-color: rgba(195, 203, 203, 1);
}