.input-wrapper {
    position: relative;
    height: 45px;
    width: 100%;
}

.input-wrapper input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    caret-color: black;
    font-size: 1.3rem;
    outline: none;
    padding: 20px 0 0 10px;
    height: 100%;
    width: 100%;
}

.input-wrapper input:hover,
.input-wrapper input:focus {
    border-bottom: 1px solid blue;
    transition: border-bottom .3s ease-in-out;
}

.input-wrapper label {
    color: lightsteelblue;
    position: absolute;
    pointer-events: none;
    top: 20px;
    left: 5px;
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
    color: blue;
    top: 3px;
    left: 7px;
    transform: scale(.9);
    opacity: 0.6;
}
