.todos {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

    height: 100%;
}

.todos__wrapper {
    max-width: 600px;
    margin-top: 20px;
    width: 100%;
}

.todos__search {
    border-top: 1px solid lightblue;
    border-left: 1px solid lightblue;
    border-right: 1px solid lightblue;
}

.todos__navs {
    display: flex;
    text-align: center;
    text-transform: uppercase;

    border-top: 1px solid lightblue;
    border-left: 1px solid lightblue;
    border-right: 1px solid lightblue;
    font-size: .8rem;
}

.todos__navs li {
    cursor: pointer;
    flex: 1 1;
    padding: 10px 0;
}

.todos__navs li:not(:last-child) {
    border-right: 1px solid lightblue;
}

.todos__navs li:hover {
    background: rgba(173, 216, 230, .5);
}

.todos__navs li:active {
    background: lightblue;
}

.todos__navs .todos__navs--active {
    background: lightblue;
}

.todos__items li {
    border-top: 1px solid lightblue;
    border-left: 1px solid lightblue;
    border-right: 1px solid lightblue;
}

.todos__items li:last-child {
    border-bottom: 1px solid lightblue;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.todos-error--wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.todos-error {

}

.todos-error__img {
    width: 12rem;
}

.todos-error__text {

}
