.todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 40px;
    padding: 0 15px;
    border: 1px solid lightblue;
    border-radius: 30px;
}

.todo-form__close-icon {
    color: #58626f;;

    position: absolute;
    top: 0px;
    right: 2px;
    /*top: -15px;*/
    /*right: -15px;*/
}

.todo-form__text-input {
    margin-top: 20px;
    max-width: 400px;
}

.todo-form__notification {
    margin-top: 40px;
    max-width: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.todo-form__notification li {
    position: relative;
    margin: 5px 0;
}

.todo-form__notification li label {
    background-color: rgba(255, 255, 255, .9);
    border-color: rgba(139, 139, 139, .3);
    border-radius: 100px;
    color: #adadad;
    display: inline-block;
    margin: 3px 0;
    padding: 8px 15px 8px 30px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.todo-form__notification li input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.todo-form__icon--wrapper {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}

.todo-form__icon {
    position: absolute;
    color: lightblue;
}

.todo-form__icon--plus {
    opacity: 1;
}

.todo-form__icon--checked {
    opacity: 0;
}

.todo-form__notification li input[type='checkbox']:checked + label {
    background: lightblue;
    color: rgba(175, 47, 47, 0.5);
    font-weight: bold;
}

.todo-form__notification li input[type='checkbox']:not(:checked) + label {
    border: 1px solid lightsteelblue;
}

.todo-form__notification li input[type='checkbox']:checked ~ .todo-form__icon--wrapper > .todo-form__icon,
.todo-form__notification li input[type='checkbox']:not(:checked) ~ .todo-form__icon--wrapper > .todo-form__icon {
    transition-property: transform, opacity;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.todo-form__notification li input[type='checkbox']:checked ~ .todo-form__icon--wrapper > .todo-form__icon {
    color: rgba(175, 47, 47, 0.5);
    transform: rotate(-360deg);
}

.todo-form__notification li input[type='checkbox']:checked ~ .todo-form__icon--wrapper > .todo-form__icon--plus {
    opacity: 0;
}

.todo-form__notification li input[type='checkbox']:checked ~ .todo-form__icon--wrapper > .todo-form__icon--checked {
    opacity: 1;
}

.todo-form__notification li input[type='checkbox']:not(:checked) ~ .todo-form__icon--wrapper > .todo-form__icon {
    transform: rotate(360deg);
}

.todo-form__notification li input[type='checkbox']:not(:checked) ~ .todo-form__icon--wrapper > .todo-form__icon--plus {
    opacity: 1;
}

.todo-form__notification li input[type='checkbox']:not(:checked) ~ .todo-form__icon--wrapper > .todo-form__icon--checked {
    opacity: 0;
}


.todo-form__scheduler {

}

.todo-form__btn--wrapper {
    position: relative;
    margin: 40px 0;
}

.todo-form__result-status {
    position: absolute;
    text-align: center;
    top: -20px;
    width: 100%;
}

.todo-form__result-status--success {
    color: green;
}

.todo-form__result-status--failed {
    color: red;
}

.todo-form__completed {
    position: absolute;
    right: 20px;
    bottom: 40px;

    background: green;
    border: 1px solid green;
    border-radius: 10px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    opacity: .2;
    padding: 20px;
    pointer-events: none;
    text-align: center;
    transform: rotate(-25deg);
}

.todo-form__completed:before {
    content: '';
    border: 3px solid white;
    border-radius: 10px;
    z-index: -1;

    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

@media only screen and (min-width: 600px) {

    .todo-form__close-icon {
        top: -15px;
        right: -15px;
    }
}
