.title {
    background: lightblue;
    position: relative;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title__caption {
    position: relative;
}

.title__caption--create-todo-wrapper {
    border: 1px solid rgba(175, 47, 47, 0.15);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: auto;
}

.title__caption--create-todo-plus-icon {
    border-radius: 50%;
    color: rgba(175, 47, 47, 0.15);
    font-size: 2rem;
}

.title__caption--name {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    font-weight: 900;
    color: rgba(175, 47, 47, 0.15);
}

.title__user-avatar,
.title__user-avatar img {
    border-radius: 50%;
}

.title__user-avatar--small {
    margin-right: 5px;
    margin-left: auto;
}

.title__user-avatar--small img {
    cursor: pointer;
    object-fit: cover;
    width: 35px;
    height: 35px;
}

.title__user-avatar--small:before,
.title__user-avatar--small:after {
    display: block;
    content: '';
    clear: right;
}

.upload-avatar__full-dark-bg {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

@media only screen and (min-width: 425px) {
    .title__user-avatar--small {
        position: relative;
    }
}

@media only screen and (min-width: 600px) {
    .title {
        height: 15vh;
    }

    .title__caption--name {
        font-size: 5rem;
    }
}

@media only screen and (min-width: 768px) {

    .title__caption--create-todo-wrapper {
        margin-left: 20px;
    }

    .title__user-avatar--small {
        margin-right: 20px;
    }
}
