.profile-info--wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 100%;
}

.profile-info {
    border: 1px solid lightblue;
    border-radius: 20px;
    padding: 0 20px 20px;
    position: relative;
    max-width: 420px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info__close-icon {
    color: #58626f;

    position: absolute;
    top: 0;
    right: 0;
}

.profile-info__items {
    max-width: 350px;
    width: 100%;
}

.profile-info__items li:last-child {
    text-align: center;
}

.profile-info__item-input {
    margin-top: 10px;
}

.profile-info__btn {
    margin-top: 30px;
}

@media only screen and (min-width: 600px) {
    .profile-info__close-icon {
        top: -15px;
        right: -15px;
    }
}
